<ion-view title={{article.title}}>
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left"></i> <&nbsp;Back
  </ion-nav-back-button>
</ion-nav-bar>
<div style="height: 5px; width: 100%; background-color:#EF4E3A; margin-top:43px;">
</div>
<ion-content [scroll="true"]>
<div style="margin-left: 0px; margin-top: 20px; padding-left: 0px; font-family: 'Open Sans Bold', Arial; font-size: 35px;  white-space: pre-wrap;  line-height: 120%;">
  {{article.title}}
</div>

<div style="margin:3px 3px 3px 3px; font-family: 'Open Sans', Arial; font-size: 18px;  white-space: pre-wrap;  margin-left: 10px; margin-right: 10px; margin-top: 0px;" id="main_html">

</div>
</ion-content>
</ion-view>
