<ion-view title="Home" hide-nav-bar="true">
<ion-header-bar class="bar bar-header bar-positive">
<h1 class="title">Home</h1>
</ion-header-bar>
<ion-content [scroll="true"]>
<ion-list>
<ion-item ng-repeat="article in articles" type="item-text-wrap" style="padding: 0 0 0 0px;">
<div class="list card feedcard">
  <div ng-controller="DashPageCtrl">
  <div ng-click="gotoArticle({{$index}})">
  
    <div class="item item-body">
      <h3>
        {{article.title}}
      </h3>
    </div>
  </div>
  </div>
  <!-- <div class="item actionarea">
    <button class="button button-icon icon ion-thumbsup">&nbsp; Like</button>
  </div>  -->
  <div class="item tabs tabs-secondary tabs-icon-left card-action">
    <a class="tab-item" ng-click="likeArticle({{$index}})">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" ng-click="dislikeArticle({{$index}})">
      <i class="icon ion-heart-broken"></i>
      Dislike
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
</ion-item>
</ion-list>
</ion-content>
</ion-view>
